/* @import url("https://fonts.googleapis.com/css2?family=Advent+Pro:wght@100&display=swap"); */

.navigation-mob {
  background-color: white;
  position: relative;
  /* border: 1px solid black; */
  width: 49px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  scale: 0.8;
  box-shadow: 0 0 25px #3a842d;
}

.navigation-mob-wrapper {
  display: flex;
  align-items: center;
  background-color: black;
  height: 94%;
  /* width: 59px; */
  width: 5vw;
  position: relative;
  justify-content: center;
}

.navbar__icon {
  /* color: #3a842d; */
  border: 1.4px solid #3a842d;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  position: absolute;
  /* top: 0.5rem;

  left: 0.5rem; */
  /* background-color: white; */
  top: 10px;
}

.navigation-mob .navigation-ul-mob {
  /* height: 350px; */
}
.navigation-mob .navigation-ul-mob .navigation-list-mob {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;

  text-justify: center;
  z-index: 1;
}
.navigation-mob .navigation-ul-mob .navigation-list-mob .navigation-link-mob {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 500;
  text-align: center;
}
.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob
  .navigation-link-mob
  .navigation-icon-mob {
  position: relative;
  display: block;
  line-height: 75px;
  text-align: center;
  transition: 0.5s;
  color: #3a842d;
}

.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob.active
  .navigation-link-mob
  .navigation-icon-mob {
  position: relative;
  display: block;
  line-height: 75px;
  /* font-size: 1.5em; */
  text-align: center;
  transition: 0.5s;
  color: rgb(255, 255, 255);
}

.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob.active
  .navigation-link-mob
  .navigation-icon-mob {
  transform: translatex(35px);
}
.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob
  .navigation-link-mob
  .navigation-text-mob {
  position: absolute;
  color: black;
  font-size: 0.75em;
  letter-spacing: 0.05em;
  transition: 0.5s;
  opacity: 0;
  transform: translatex(10px);
  writing-mode: vertical-rl;
  /* font-family: "Advent Pro", sans-serif;
  font-weight: bolder; */
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: normal;
  font-weight: bolder;
}

.indicator-mob {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 68px;
  right: -48px;
  background: #29711c;
  /* background: linear-gradient(270deg, #29711c 0%, rgba(255, 255, 255, 1) 100%); */
  background-color: #3a842d;
  background: linear-gradient(270deg, #3b6334 50%, rgba(255, 255, 255, 1) 100%);
  border-radius: 50%;
  border: 2px solid rgb(255, 255, 255);
  transition: 0.5s;
}

.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob:nth-child(1).active
  ~ .indicator-mob {
  transform: translateY(calc(70px * -0.11));
}
.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob:nth-child(2).active
  ~ .indicator-mob {
  transform: translatey(calc(59px * 1));
}
.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob:nth-child(3).active
  ~ .indicator-mob {
  transform: translatey(calc(65px * 2));
}
.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob:nth-child(4).active
  ~ .indicator-mob {
  transform: translatey(calc(67px * 3));
}
/* .navigation-mob
  .navigation-ul-mob
  .navigation-list-mob:nth-child(5).active
  ~ .indicator-mob {
  transform: translatey(calc(70px * 4));
} */

.navigation-icons-mob-icon-wrapper a {
  cursor: pointer;
  /* color: black;
  color: #3a842d; */
  height: 24px;
  width: 24px;
  border: 1px solid black;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-mob
  .navigation-ul-mob
  .navigation-list-mob.active
  .navigation-link-mob
  .navigation-text-mob {
  opacity: 1;
  transform: translatex(1px);
}
.navigation-icon-mob {
  position: absolute;
  left: -18px;
  color: #842d2d;
}
