.myexperienceCard {
  background-color: rgb(46, 43, 43);
  border-radius: 0.5rem;
  border: 1.4px solid #3a842d;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.myexperienceCard__year {
  color: #3a842d;
}
.myexperienceCard__kind-of-job {
  color: white;
  font-size: 1.5rem;
}
.myexperienceCard__company {
  color: #3a842d;
}

.myexperienceCard__company span {
  color: grey;
  font-size: 0.9rem;
}
