.resume {
  height: 84%;
  background-color: green;
}
.resume__header {
  text-align: center;
}
.resume__wrapper {
  display: flex;
  background-color: brown;
  justify-content: center;
  height: 80%;
}
.resume__btn-section {
  background-color: red;
  display: flex;
  width: 30%;
  height: 90%;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  justify-content: center;
}
.resume__btn-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: rosybrown;
  width: 70%;
}
.resume__btn-section p {
  /* width: 30%; */
  background-color: green;
}
.resume__btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: blue;
  height: 70%;
  justify-content: space-around;
}
.resume__btn-wrapper__btn {
  padding: 0.5rem 0rem;
  border-radius: 0.3rem;
}
.resume__show-section {
  width: 50%;
  height: 100%;
  background-color: blue;
  /* height: 100%; */
}
