* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Xanh Mono", monospace;
  font-weight: 400;
  font-style: normal;
}
.app {
  height: 100vh;
  display: flex;
}
/* .app_router-container{
  height: ;
} */
